h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    color: #1a1a1a;
    text-align: left;
    margin-top: 20px;
}






p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: #cb1414;
    margin: 10px 0;
}